.editable-vars {
  background: rgba(0, 102, 255, 0.06);
  border-radius: 4px;
  color: #06f;
  margin: 0 3px;
  padding: 3px 5px;
}

.block-kit-editable-text {
  display: inline-block;
  outline: none;
}
